.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 50px;
}
figure {
    margin: 0;
}
figcaption {
    padding-top: 10px
}
img {
    width: 100%;
}

img.profile-pic
{
    border-radius: 50%;
}

.name
{
    font-weight: bold;
    text-align: center;
}

.title
{
    text-align: center;
}
