/*Navbar font*/
.navbar-brand
{
    font-family: "SN Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/*Header font*/
h1
{
    color: #000000;
    
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;

    /*font-family: "Concert One", sans-serif;*/
    /*font-weight: 400;*/
    /*font-style: normal;*/
    
    /*font-family: "Sniglet", system-ui;*/
    /*font-weight: 400;*/
    /*font-style: normal;*/
}

.intro-header .page-heading .page-subheading
{
    font-family: "SN Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/*Main text font*/
div
{
    font-family: "SN Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

hr
{
    color: #cf0000;
    border-color: #4b34e725;

    /*border-color: #cf000025;*/
    /*color: #c4b34e7;*/
}

/*#region Videos*/
/*Top of site video*/
mainvideo
{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

/*All lower videos*/
subvideo
{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}
/*#endregion*/

/*#region Grid About Me*/
.grid-container {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-template-rows: 47.5% 47.5%;
    gap: 5%
}
figure {
    margin: 0;
}
figcaption {
    padding-top: 10px;
    text-align: center;
}


img.profile-pic
{
    width: 100%;
    border-radius: 50%;
}

figcaption.name
{
    font-weight: bold;
}
/*#endregion*/

/*#region List About Me*/
caption2
{
    font-weight: bold;
}

img.profile-pic2 {
    border-radius: 50%;
    margin-right: 50px;
    height: 85%;
    float: left;
}

#About_Me {
    display: flex;
    align-items: center;
    word-wrap: break-word;
    position: relative;
    height: 300px;
}

about-text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
/*#endregion*/

/*#region FOR DIFFERENT ASPECT RATIOS*/
@media (max-width: 990px) {
    about-text {
        font-size: 1.7vw;
    }
    
    img.profile-pic2
    {
        margin-right: 15px;
        height: 30vw;
    }

    #About_Me {
        height: 35vw;
    }
}

@media (max-width: 767px) {
    about-text {
        font-size: 2.2vw;
    }

    img.profile-pic2
    {
        margin-right: 15px;
        height: 30vw;
    }

    #About_Me {
        height: 35vw;
    }
}

@media (max-width: 550px) {
    about-text {
        font-size: 4vw;
        text-align: center;
    }

    img.profile-pic2
    {
        margin-top: 5vw;
        margin-right: 15px;
        height: 35vw;
    }

    #About_Me {
        height: 120vw;
        flex-direction: column;
    }
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1200px !important;
    }
}

@media (min-width: 1200px) {
    .offset-xl-2 {
        margin-left: 7% !important;
        margin-right: 7% !important;
    }
}
@media (min-width: 1200px) {
    .col-xl-8 {
        flex: 100% !important;
        max-width: 100% !important;
    }
}
/*endregion*/